@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    background-color: #131726;
  }
.container{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; 
  gap: 10px;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; 
    gap: 20px;
    padding: 15px;
  }
}
/* buttons  */
.nav-button{
color: var(--Color-text-text-primary_on-brand, #FFF);
/* Text md/Semibold */
font-family: var(--Font-family-font-family-body, Inter);
font-size: var(--Font-size-text-md, 16px);
font-style: normal;
font-weight: 600;
line-height: var(--Line-height-text-md, 24px); /* 150% */
border-radius: var(--radius-md, 8px);
border: 2px solid var(--Gradient-skeuemorphic-gradient-border, rgba(255, 255, 255, 0.12));
box-shadow: 0px 0px 0px 1px var(--Colors-Effects-Shadows-shadow-skeumorphic-inner-border, rgba(16, 24, 40, 0.18)) inset, 0px -2px 0px 0px var(--Colors-Effects-Shadows-shadow-skeumorphic-inner, rgba(16, 24, 40, 0.05)) inset, 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(16, 24, 40, 0.05));
}
.nav-button-back{
  border-radius: var(--radius-md, 8px);
background: var(--Color-background-bg-quaternary_hover, #303E67);
/* Shadows/shadow-xs-skeuomorphic */
box-shadow: 0px 0px 0px 1px var(--Colors-Effects-Shadows-shadow-skeumorphic-inner-border, rgba(10, 13, 18, 0.18)) inset, 0px -2px 0px 0px var(--Colors-Effects-Shadows-shadow-skeumorphic-inner, rgba(10, 13, 18, 0.05)) inset, 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(10, 13, 18, 0.05));
}
.nav-button-next{
background: var(--_Hidden-Brand-500, #6630D1);
}
.nav-button-submit{
  background: var(--_Hidden-Brand-500, #6630D1);
}