

.text-content-container {
    display: flex;
    flex-direction: column;
padding: 0 1rem;
}

.buttons-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.register-button {
    width: 100%;
    display: flex;
    padding: var(--spacing-lg, 0.75rem) 1.125rem;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm, 0.375rem);
    align-self: stretch;
    border-radius: var(--radius-md, 0.5rem);
    border: 2px solid rgba(255, 255, 255, 0.12);
    background: var(--_Hidden-Brand-500, #6630D1);
    box-shadow: 0px 0px 0px 1px var(--Colors-Effects-Shadows-shadow-skeumorphic-inner-border, rgba(16, 24, 40, 0.18)) inset, 0px -2px 0px 0px var(--Colors-Effects-Shadows-shadow-skeumorphic-inner, rgba(16, 24, 40, 0.05)) inset, 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(16, 24, 40, 0.05));



    color: var(--Color-text-text-primary_on-brand, #FFF);

    /* Text md/Semibold */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-md, 1rem);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-text-md, 1.5rem);
    /* 150% */

}

.terms-link{


    color: var(--Color-text-text-secondary, #C4C7CC);

/* Text md/Medium */
font-family: var(--Typeface-font-paragraph, Inter);
font-size: var(--Font-size-text-md, 1rem);
font-style: normal;
font-weight: 500;
line-height: var(--Line-height-text-md, 1.5rem); /* 150% */
text-decoration: none;
}




.security-info{
    display: flex;
    align-items: center;
    justify-content: center;

}
.security-info p {
color: var(--Color-text-text-tertiary, #898F99);
font-family: var(--Typeface-font-paragraph, Inter);
font-size: 0.6875rem;
font-style: normal;
font-weight: 400;
line-height: var(--Line-height-text-xs, 1.125rem); /* 163.636% */
}

